@use "./utilities" as util;
@use "sass:color";

@each $key, $value in util.$postBackground {
  .post#{$key} {
    @include util.set-background($value);
    @include util.set-border-radius;
    padding: 1em;
    margin: 1em 0;
  }
  .post#{$key} > a {
    @include util.set-color($value);
  }
  .post#{$key} > h2 {
    margin-bottom: 0;
  }
  .post#{$key} > p {
    text-align: justify;
  }
}

.container {
  @include util.set-container;
}
h1 {
  margin-bottom: 2em;
  margin-top: 2em;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//create post component
.create-con {
  @include util.set-container;
  width: 50%;

  & > * {
    margin-bottom: 1em;
  }
}

.create-btn {
  @include util.set-border-radius;
  height: 3em;
  width: 10em;
  font-size: 1em;
  background-color: rgba(7, 196, 26, 0.652);
  border: 0;
}

.create-input {
  @include util.set-border-radius;
  border: 1px solid;
  height: 30px;
}
.text-area {
  @include util.set-border-radius;
  padding: 10px;
}
