@use "./utilities" as util;
@use "sass:color";

@each $key, $value in util.$postBackground {
  .post#{$key} {
    @include util.set-background($value);
    border-radius: 0.75em;
    padding: 1em;
    margin: 2em 0;
  }
  .post#{$key} > a {
    @include util.set-color($value);
  }
  .post#{$key} > h2 {
    margin-top: 1em;
    margin-bottom: 0;
  }
  .post#{$key} > p {
    text-align: justify;
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
h1 {
  margin-bottom: 2em;
  margin-top: 2em;
}
.header{
  display: flex;
 justify-content: space-between;
 align-items: center;

}
.header>button{
  height:3em;
  width:10em;
  border-radius: 0.75em;
  font-size: 1em;
  background-color: rgba(7, 196, 26, 0.652);
  border: 0;
}
