@use "./utilities" as util;
@use "sass:color";

@each $key, $value in util.$postBackground {
  .post#{$key} {
    @include util.set-background($value);
    border-radius: 10px;
    padding: 1em;
    box-shadow: 10px;
    margin: 20px 0;
  }
  .post#{$key} > a {
    @include util.set-color($value);
  }
  .post#{$key} > h2 {
    margin-top: 5px;
    margin-bottom: 0;
  }
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
h1 {
  margin-bottom: 50px;
  margin-top: 30px;
}
